/* green - #2ecc71 */
/* chateau: EED9CB, EFDAC7  Grey: A0A6A9  Dark Grey Water: 404E55 Purple:8C4E6F Pink: BF95A4 White: fff Pale Pink: F7EDF5 */


a:link,a:visited,.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	color:#BF95A4;
}

.spacer,.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,#grid .mix .overlay {

background: #BF95A4;
}

#page-contact{
	background: #BF95A4;
	color:#fff;
}

#page-contact .spacer{
	background: #fff;
}

#page-contact .section-title{
	color:#fff;
}

.btn.btn-default:hover,
.btn.btn-default:active{
    color:#BF95A4;
}
